<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alvin.video">

    <application>
        <activity android:name=".ui.VideoPageActivity" />
        <activity android:name=".ui.VideoActivity" />
    </application>
</manifest>